*{
    padding: 0;
    margin: o;
    border: border-box;
}
.frontend{
    width: 700px;
    position: absolute;
    top: 150px;
    left: 680px;
    line-height: 20px;
}
.sde{
    width: 700px;
    position: absolute;
    top: 650px;
    left: 680px;
    line-height: 20px;
}
.fsd{
    width: 700px;
    position: absolute;
    top: 1170px;
    left: 680px;
    line-height: 20px;
}
.companylogo{
    height: 85px;
    width: 330px;
    background-image: url(/assets/adobe-logo.png);
    background-size: contain;
    position: absolute;
    top: 0px;
    left: 870px;
}